<!-- list-appliances.component.html -->
<table class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Número de Referencia</th>
      <th>ID Marca</th>
      <th>ID Categoría</th>
      <th>Unidades Disponibles</th>
      <th>Tiempo de Garantía</th>
      <th>Alto</th>
      <th>Largo</th>
      <th>Ancho</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appliance of appliances">
      <td>{{ appliance.id }}</td>
      <td>{{ appliance.nombre }}</td>
      <td>{{ appliance.descripcion }}</td>
      <td>{{ appliance.precio }}</td>
      <td>{{ appliance.numeroReferencia }}</td>
      <td>{{ appliance.idMarca }}</td>
      <td>{{ appliance.idCategoria }}</td>
      <td>{{ appliance.unidadesDisponibles }}</td>
      <td>{{ appliance.tiempoGarantia }}</td>
      <td>{{ appliance.alto }}</td>
      <td>{{ appliance.largo }}</td>
      <td>{{ appliance.ancho }}</td>
    </tr>
  </tbody>
  </table>

<button class="btn btn-primary" routerLink="create-appliance/create-appliance">Crear Electrodoméstico</button>

      
